
@{
    ViewBag.Title = "BanMessage";
}

<h2>You are banned</h2>
<br />
<p>To contact the administrator write to this E-mail: lorfol2802@gmail.com</p>

@Html.ActionLink("To main page", "Index", "Home", null, new { @class = "btn btn-primary"})