@{
    ViewBag.Title = "Manage Librarians";
}

@using Library.Domain.Core.Models
@model List<User>

<h3>Librarians List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @Html.ActionLink("Remove from the librarian role", "DeleteLibrarian", "AdministratorAccount", new { UserId = user.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>