

<h4>My Orders</h4>

<table class="table table-striped">

    @if (true) // Model.Count() == 0
    {
        <tr>You didn't have any orders</tr>
    }
    else
    {
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
            </tr>
        </thead>
        <tbody>
            @*foreach (var item in Model)
                {
                    <tr>

                    </tr>
                }*@
        </tbody>
    }
</table>
